<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ShowCase Site</title>
</head>

<body>
    <%- include('../partials/navBar.ejs'); -%>

        <div class="jumbotron text-info">
            <h1>Hello, I am kishor Kc</h1>
            <p>ShowCase Site is a sample project where I am make a site through Node.js with EJS template engine</p>
            <p>If you like, give a star in my github repo.<br>Thank you</p>
        </div>

        <div class="mb-5"></div>


        <%- include('../partials/booStrap_script.ejs'); -%>
</body>

</html>