<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- custom css  -->
    <link rel="stylesheet" href="/css/indexStyle.css">
    <title>ShowCase Site</title>
</head>

<body>
    <%- include('../partials/login_navbar.ejs'); -%>
        <blockquote class="blockquote mx-5 pl-4">
            <p>Blog</p>
        </blockquote>

        <div class="row mx-5 pl-4">
            <!-- first card  -->
            <div class="card mt-2 mr-2" style="width: 18rem; height: 21rem;">
                <img src="https://images.unsplash.com/photo-1501770118606-b1d640526693?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGhlbHAlMjBvdGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top" style="height: 180px;" alt="coding">
                <div class="card-body">
                    <h5 class="card-title">Five Reasons to help other people?</h5>
                    <p class="card-text"></p>
                    <a href="/helpBlog" class="btn btn-primary">Read</a>


                </div>
            </div>
            <!-- second card  -->
            <div class="card mt-2 mr-2" style="width: 18rem; height: 21rem;">
                <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    class="card-img-top" style="height: 180px;" alt="coding">
                <div class="card-body">
                    <h5 class="card-title">Five Reasons to learn programming langauge?</h5>
                    <p class="card-text"></p>
                    <a href="/programmingBlog" class="btn btn-primary">Read</a>
                </div>
            </div>
            <!-- third card  -->
            <div class="card mt-2 mr-2" style="width: 18rem; height: 21rem;">
                <img src="https://images.unsplash.com/photo-1553729784-e91953dec042?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    class="card-img-top" style="height: 180px;" alt="coding">
                <div class="card-body">
                    <h5 class="card-title">Five Reasons to read a <br>Books?</h5>
                    <p class="card-text"></p>
                    <a href="/readBookBlog" class="btn btn-primary">Read</a>
                </div>
            </div>

            <!-- four card  -->
            <div class="card mt-2 mr-2" style="width: 18rem; height: 21rem;">
                <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    class="card-img-top" style="height: 180px;" alt="coding">
                <div class="card-body">
                    <h5 class="card-title">Five Reasons to doing a Regular Exercise?</h5>
                    <p class="card-text"></p>
                    <a href="/doingexerciseBlog" class="btn btn-primary">Read</a>
                </div>
            </div>


        </div>
        <!-- end of row blog  -->

        <div class="mb-5"></div>

        <!-- add login footer  -->

        <!-- bootstrap close js and css  -->

        <%- include('../partials/booStrap_script.ejs'); -%>
</body>

</html>