<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ShowCase Site</title>
</head>

<body>
    <%- include('../partials/navBar.ejs'); -%>
        <p class="mx-5">Blog</p>
        <div class="row mx-5">

            <!-- first card  -->
            <div class="card mr-2 mt-2" style="width: 18rem;">
                <img class="card-img-top" style="height: 200px;"
                    src="https://images.unsplash.com/photo-1483992645819-22e6df766e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alex Park</h5>
                    <p class="card-text">Life is easier when you try!</p>
                    <a href="#" class="btn btn-primary">Connect with me</a>
                </div>
            </div>
            <!-- second card  -->
            <div class="card mr-2 mt-2" style="width: 18rem;">
                <img class="card-img-top" style="height: 200px;"
                    src="https://images.unsplash.com/photo-1542847970-584270eb111b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=333&q=80"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Veros Temx</h5>
                    <p class="card-text">Be happy in every moment!</p>
                    <a href="#" class="btn btn-primary">Connect with me</a>
                </div>
            </div>
            <!-- third card  -->
            <div class="card mt-2" style="width: 18rem;">
                <img class="card-img-top" style="height: 200px;"
                    src="https://images.unsplash.com/photo-1482967458520-c99bb597105c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Harny Pya</h5>
                    <p class="card-text">Photography is my life!</p>
                    <a href="#" class="btn btn-primary">Connect with me</a>
                </div>
            </div>
        </div>



        <div class="mb-5"></div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>