<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- custom css  -->
    <link rel="stylesheet" href="/css/indexStyle.css">
    <title>ShowCase Site</title>
</head>

<body>
    <%- include('../partials/login_navbar.ejs'); -%>
        <p class="mx-5">Blog</p>
        <div class="row mx-5">

            <!-- first card  -->
            <div class="card mr-2 mt-2" style="width: 18rem;">
                <img class="card-img-top" style="height: 200px;"
                    src="https://images.unsplash.com/photo-1483992645819-22e6df766e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alex Park</h5>
                    <p class="card-text">Life is easier when you try!</p>
                    <a href="#" class="btn btn-primary">Connect with me</a>
                </div>
            </div>
            <!-- second card  -->
            <div class="card mr-2 mt-2" style="width: 18rem;">
                <img class="card-img-top" style="height: 200px;"
                    src="https://images.unsplash.com/photo-1542847970-584270eb111b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=333&q=80"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Veros Temx</h5>
                    <p class="card-text">Be happy in every moment!</p>
                    <a href="#" class="btn btn-primary">Connect with me</a>
                </div>
            </div>
            <!-- third card  -->
            <div class="card mt-2" style="width: 18rem;">
                <img class="card-img-top" style="height: 200px;"
                    src="https://images.unsplash.com/photo-1482967458520-c99bb597105c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Harny Pya</h5>
                    <p class="card-text">Photography is my life!</p>
                    <a href="#" class="btn btn-primary">Connect with me</a>
                </div>
            </div>
        </div>

        <div class="mb-5"></div>

        <!-- add login footer  -->

        <!-- bootstrap close js and css  -->

        <%- include('../partials/booStrap_script.ejs'); -%>
</body>

</html>