<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- custom css  -->
    <link rel="stylesheet" href="/css/indexStyle.css">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/login_navbar.ejs'); -%>


        <blockquote class="blockquote mx-5 pt-3">
            <p>
                <%= question %>
            </p>
        </blockquote>


        <% fiveHelp.forEach(function(item){ %>
            <div class="mx-5 toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">
                        ShowCase Site
                    </strong>

                    <!-- <small>11 mins ago</small> -->
                </div>
                <div class="toast-body">
                    <%= item %>
                </div>
            </div>
            <% }); %>

                <!-- bootstrap close js and css  -->

                <%- include('../partials/booStrap_script.ejs'); -%>

</body>

</html>