<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/login_navbar.ejs'); -%>
        <h4>successhome</h4>


        <!-- bootstrap close js and css  -->

        <%- include('../partials/booStrap_script.ejs'); -%>
</body>

</html>