<footer class="bg-primary text-white pt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 pb-2">
                <h4>About Us</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, cum. Quae rerum itaque
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 pb-2">
                <h4>Links</h4>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <!-- <li><a href="/signup">Create an Account</a></li> -->
                </ul>
            </div>

            <div class="col-lg-3 col-sm-6 pb-2">
                <h4>Conatct Us</h4>
                <p>
                <address>Chitwan Ratnanagar -6</address>
                <strong>Phone : </strong> +9805-982000 <br>
                <strong>Email : </strong> <a href="mailto:abc@abc.com">abc@abc.com</a>
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 pb-2">
                <h4>Newsletters</h4>
                <p>Enter your email adrress below</p>
                <form action="">
                    <div class="input-group">
                        <input type="email" name="" id="" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-secondary">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center bg-secondary py-2">
        Kishor Kc &copy; 2021. All rights are reserved
    </div>
</footer>

<style>
    li {
        padding: 0;
        margin: 0;
    }
</style>