body{
    background-color: rgb(197, 252, 233);
}
.footer{
    position: relative;
    left: 0;
    padding-bottom: 1px;
    top: 30px;
    bottom: 0;
    margin-top: 1rem 2px;
    width: 100%;
    background-color: aqua;
    text-align: center;
}

footer a{color: white;}
footer a:hover{color: white;}

li{
    margin-left: 30px;
    
}